<head>
    <style>
    body {background-color: teal;}
    </style>
    <script src="/static/new_game.js"></script>
</head>

<body>
    <h1>Register a new game here</h1>
        <form action="/all_games">
            <label for: "fname"> First name:</label>
            <input type = "text" id="fname" name="first_name">
            <br>
        </form>
        <form action="/all_games">
            <label for: "sname"> Second name:</label>
            <input type = "text" id="sname" name="first_name">
            <button onclick="test()">Testing</button>
        </form>
</body>