<!DOCTYPE html>
<html>
<head>
    <style>
    body {background-color: teal;}
    </style>
</head>

<body>
  <a href="/"> Back to main page </a>
  <p id="first p"> Hey there. </p>

  <form id="dynamicForm">
    <div">
        <label for="players">How many players are you?:</label>
        <input type="number" min=1 max=5 id="players" name="players">
        <button type="button" id="playerButton">Submit player number</button>
    </div>

    <p id="p1"> </p>

    <p id="p2"> </p>


    <div id="points">

    </div>


  </form>

  <h2>Enter name please sir or madam</h2>
  <form action="/submit" method="post">
    <input type="text" name="fname" required>
    <button type="submit">Submit name</button>
  </form>


  <script src="static/testing_new_game.js"></script>
  <! --  Source =  https://medium.com/@AlexanderObregon/beginners-guide-to-creating-dynamic-forms-with-javascript-10aef6a8843d-->
</body>
</html>

