<head>
    <style>
    body {background-color: teal;}
    </style>
    <script src="/static/new_game.js"></script>
</head>

<body>
    <h1>Register a new game here</h1>
    <a href="/"> Back to front page </a> <br>
        <form enctype="multipart/form-data">
            <label for: "players"> How many players?:</label><br>
            <input type = "number" name="players"><br>
            <button onclick="addFields()">Submit</button>
        </form>
        <div id="container"/>
</body>